.user-data {
    margin: 5px 0;
    font-weight: bold;
}

.user-data-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(231, 231, 231);
}

.user-following h2 {
    display: flex;
    justify-content: center;
}

.user-following {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
